* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0;
}

header {

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: rgb(18, 73, 18, 0.9);

}

.logo {
    width: 100px;
    margin-right: -170px;
}

.lista {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.lista li {
    list-style: none;
    font-weight: bold;
    margin-right: 15px;
}

.lista a {
    text-decoration: none;
    color: black;
}

.formu {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
}

.error-message {
    color: red;
    display: none; 
    margin-top: 5px; 
    font-size: 14px; 
}

.comentario{
    margin-left: 10px;
}

.enviar {
    align-self: flex-end; 
    padding: 4px;
}

.titulo {
    text-align: center;
    font-size: 70px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.grid-contenedor {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.linea {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pizza {
    width: 100%;
    height: auto;
    align-items: center;

}
.titulouno {
    font-size: 30px;
    
}

.texto-uno {
    font-size: 20px;
    margin-top: 5px;
}

.comida {
    margin-bottom: 20px;
    width: 18%;
    border: 1px solid #000;

}

.vermas {
    background-color: black;
    padding: 10px;
    display: inline-block; 
    margin-top: 15px; 
}

.vermas a {
    text-decoration: none;
    color: white;
}


footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 73, 18, 0.9);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 30px;
    margin-top: 32px
}

.banda {
    color: white;
}

.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.access form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.access input, .access button {
    padding: 10px;
    margin: 10px 0;
}

.access button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login input, .login button {
    padding: 10px;
    margin: 10px 0;
}

.login button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;
}

.noTengoCuenta{
    text-decoration: none;
    color: black;
}

.tengoCuenta{
    text-decoration: none;
    color: black;
}