* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.container {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0;
}



header {

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: #b0f2c2;

}

.logo {
    width: 100px;
    margin-right: -170px;
}

.lista {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.lista li {
    list-style: none;
    font-weight: bold;
    margin-right: 15px;
}

.lista a {
    text-decoration: none;
    color: black;
}

.formu {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
}

.error-message {
    color: red;
    display: none; 
    margin-top: 5px; 
    font-size: 14px; 
}

.comentario{
    margin-left: 10px;
}

.enviar {
    align-items: flex-end; 
    padding: 4px;
}

.titulo {
    text-align: center;
    font-size: 70px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.grid-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.segundocontenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .carga {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        background-color: black;
        width: 150px;
        height: 80px;
        margin: 20px auto; 
        color: white;
        display: flex;
        justify-content: center;
    }
.footer-index {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fabfb7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 30px;
    margin-top: 32px
}
.footer-receta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 73, 18, 0.9);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 30px;
    margin-top: 82px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banda {
    color: black;
}

.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.access form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.access input, .access button {
    padding: 10px;
    margin: 10px 0;
}

.access button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login input, .login button {
    padding: 10px;
    margin: 10px 0;
}

.login button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;
}

.noTengoCuenta{
    text-decoration: none;
    color: black;
}

.tengoCuenta{
    text-decoration: none;
    color: black;
}
.seccion-Receta{
    align-items: center;
    width: 400px;
    height: 100%;
    border: solid lightgrey;
    padding: 7px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 7px;
}

.seccion-Receta span{
    font-weight: 700;
}
.foto-Receta{
    width: 100%;
    
}
