* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.container {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0;
}



header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: #b0f2c2;
    padding-right: 10px;
    padding-left: 10px;

}

.logo {
    width: 100px;
    margin-left: 100px;

}

.lista {
    display: flex;
    gap: 40px;
    font-size: 20px;
    margin-top: 50px;
}

.lista li {
    list-style: none;
    font-weight: bold;
}

.lista a {
    text-decoration: none;
    color: black;
}

.formu {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    margin-top: 50px;
}

.error-message {
    color: red;
    display: none; 
    margin-top: 5px; 
    font-size: 14px; 
}


.enviar {
    margin-top: 4px; 
    padding: 4px;
    
}

.titulo {
    font-size: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-right: 60px;
}


.grid-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articulo , .NuevoArticulo {
    width: 16%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    border: solid lightgrey;
    padding: 7px;
    margin: 25px;
    border-radius: 7px;
}


.segundocontenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .carga {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        background-color: black;
        width: 150px;
        height: 80px;
        margin: 20px auto;  
        color: white;
        display: flex;
        justify-content: center;
    }
.footer-index {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fabfb7;
    border-top-left-radius: 35px;
    border-top-right-radius: 55px;
    height: 30px;
    margin-top: 32px
}
.footer-receta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 73, 18, 0.9);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 30px;
    margin-top: 82px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banda {
    color: black;
}

.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.access form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.access input, .access button {
    padding: 10px;
    margin: 10px 0;
}

.access button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login input, .login button {
    padding: 10px;
    margin: 10px 0;
}

.login button {
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid darkgreen;
}

.noTengoCuenta{
    text-decoration: none;
    color: black;
}

.tengoCuenta{
    text-decoration: none;
    color: black;
}
.Name-Receta{

    margin-left: 70px;
}
.seccion-Receta{
    align-items: center;
    width: 400px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: solid lightgrey;
    padding: 7px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 7px;
}

.seccion-Receta span{
    font-weight: 700;
}
.foto-Receta{
    width: 100%;
    
}
@media (max-width: 640px) {
            header {
                max-width: 100%;
                display: flex;
                justify-content: space-between; 
                flex-direction: row; 
                height: 80px;
            }
            .formu{
                margin-top: 60px;
                margin-right: 0px;
            }
            .comentario{
                width: 130px;
                height: 25px;
            }
            .enviar{
                display: flex;
                align-items: center;
                height: 20px;
                margin-left: -4px;
            }
        
            .logo {
                width: 90px; 
                margin-top: 15px;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

    
            }
        
            .lista {
                display: flex;
                gap: 9px; 
                font-size: 16px; 
                margin-top: 70px;
        
            }
            .titulo{
                font-size: 50px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
            }
            .seccion-Receta{
                height: 830px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                /* agrandar tamaño de textos en receta */
            }
            .container{
                max-width: 630px;
            }
            .grid-contenedor, .segundocontenedor {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
            }
            .articulo, .NuevoArticulo {
                width: 38%; 
            }
        }

        
   
  












